@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:opsz@6..12&family=Oswald:wght@600&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root{
	/* Colores */
	--color-primario: #060706;
	--color-primario-claro: #c43133;
	--color-negro: #242424;
	--color-blanco: #fff;
	--color-gris: #c0c0c0;
	--color-bg-footer: #0a0a0a;
	--color-bg: #000;
	/* Fuentes */
	--fuente-encabezados: 'Montserrat', sans-serif;
	--fuente-subtitulos: 'Montserrat', sans-serif;
}


/* Header */
header {
	font-family: var(--fuente-subtitulos);
	display: flex;
	width: 100%;
	background-color: var(--color-primario);
	height: 90px;
}

.nav__menu {
	width: 100%; /* opcional -> width: 95%, padding: 0 */
	padding: 40px;
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.logo a {
	text-decoration: none;
	color: var(--color-blanco);
	font-family: var(--fuente-encabezados);
	font-size: 1.5rem;
}
.logo a img {
	height: 65px;
}

.nav__menu .nav__links {
	display: flex;
	list-style: none;
}

.nav__menu .nav__links li a {
	display: block;
	font-size: 1rem;
	text-decoration: none;
	color: var(--color-blanco);
	margin: 10px 10px;
	transition: color .3s ease-in-out;
}

.nav__menu .nav__links li a:hover {
	color: var(--color-gris);
}

.nav__menu .nav__links li .btn__logout {
	color: var(--color-bg);
	background-color: var(--color-blanco);
	border-radius: 20px;
	padding: 10px 20px;
	transition: all .3s ease-in-out;
}


/* Elementos escondidos de Nav */
.nav__menu .btn__bars {
	display: none;
	cursor: pointer;
	border: none;
	background-color: transparent;
	font-size: 2rem;
	color: var(--color-blanco);
	transition: color .3s ease-in-out;
}

.nav__menu .btn__bars:hover {
	color: var(--color-gris);
}


/* Header -> Responsive */
.nav__bg__responsive {
	z-index: 998;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.297);
	align-items: center;
	display: flex;
	transition: all .3s ease;

	transition: opacity 0.3s ease, visibility 0.3s ease;

	/* ocultando el Bg */
	opacity: 0;
	visibility: hidden;
}

.nav__bg__responsive .nav__responsive {
	display: grid;
	gap: 20px;
	width: 280px;
	height: calc(100% - 20px);
	position: absolute;
	right: 10px;
	background-color: var(--color-primario);
	padding: 20px;
	z-index: 999;
	border-radius: 10px;
	overflow: hidden;
	transform: translateX(110%); /* inicialmente oculto */
	transition: all .5s ease-out;
}


.nav__menu .container__btn__exit {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.nav__menu .container__btn__exit .btn__exit {
	cursor: pointer;
	font-size: 1.4rem;
	color: var(--color-gris);
	border: none;
	background-color: transparent;

	transition: all .3s ease-in-out;
}

.nav__menu .container__btn__exit .btn__exit:hover {
	color: var(--color-blanco);
}

.nav__responsive .nav__links__responsive {
	display: grid;
	gap: 10px;
	list-style: none;
	overflow-y: auto;
}

.nav__responsive .nav__links__responsive li a {
	text-decoration: none;
	color: var(--color-gris);
}

.nav__responsive .nav__links__socialmedia__responsive {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
	gap: 15px;
	list-style: none;
	align-items: center;
}

.nav__responsive .nav__links__socialmedia__responsive li a {
	color: var(--color-gris);
}

.nav__responsive .nav__links__socialmedia__responsive li a i{
	font-size: 1.4rem;
}

.nav__responsive .nav__link__us__responsive  {
	list-style: none;
}

.nav__responsive .nav__link__us__responsive li a {
	text-decoration: none;
	color: var(--color-gris);
}


.nav__responsive .nav__links__responsive li a,
.nav__responsive .nav__links__socialmedia__responsive li a,
.nav__responsive .nav__link__us__responsive li a {
	font-size: 1.2rem;
	transition: color .3s ease-in-out;
}


.nav__responsive .nav__links__responsive li a:hover,
.nav__responsive .nav__links__socialmedia__responsive li a:hover,
.nav__responsive .nav__link__us__responsive li a:hover {
	color: var(--color-blanco);
}



/* 990px */

@media screen and (max-width:990px) {
	
}



/* 800px */

@media screen and (max-width: 800px) {
	.nav__menu .nav__links {
		display: none;
	}

	.nav__menu .btn__bars {
		display: block;
	}
}


/* 600px */

@media screen and (max-width: 600px) {
	.nav__bg__responsive .nav__responsive {
		width: calc(100% - 20px);
 	 /* inicialmente oculto */
	}

	.nav__responsive .nav__links__socialmedia__responsive {
		grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr)); /* edicion opcional a 10px y auto-fit */
	}
}